.team {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/landing-bg.webp');
    background-size: cover;
    background-position: center;
    color: white;
  }
  